footer {
  background-color: #000;
  color: #fff;
  padding: 5rem 30rem;
}

h3 {
  text-transform: uppercase;
  margin-bottom: 5rem;
}

li {
  margin: 5rem 0;
  font-weight: 100;
}

li:first-child {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: underline;
  color: #fff;
}

.main-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.copy-row {
  text-align: center;
  padding-top: 2rem;
}

.social-media {
  margin-bottom: 5rem;
}

.social {
  font-size: 3rem;
  margin-right: 1rem;
}

input {
  padding: 1rem 0.5rem;
  color: #000;
  width: 80%;
  outline: none;
}

button {
  padding: 1.3rem;
  background-color: blue;
  width:20%;
}

@media (max-width: 800px) {
  .main-row {
    display: flex;
    flex-direction: column;
  }

  footer {
    padding: 5rem 10rem;
    padding-top: 0;
  }

  h3 {
    margin: 5rem 0;
  }

  li {
  margin: 2rem 0;
}
}

@media (max-width: 480px) {
  .main-row {
    display: flex;
    flex-direction: column;
  }

  footer {
    padding: 2rem;
    padding-top: 0;
  }
}
