.header__nav-item-subnav:hover .header__nav-item-subnav-content {
  display: flex;
}

.header__nav-item-subnav-content {
  width: 100%;
  display: none;
  position: absolute;
  margin-top: 1rem;
  background-color: white;
  padding: 3rem 2rem;
}

.header__nav-item-subnav-content a {
  text-decoration: none;
  color: black;
}

.header__nav-item-subnav-content a:hover {
  text-decoration: underline;
  color: black;
}

.header__nav-section {
  margin: 0 5rem;
}

.header__nav-section:first-child {
  margin-left: 0;
}

.header__nav-section li {
  margin: 2rem 0;
}

.header__nav-section a {
  color: gray;
}

.header__nav-section small {
  color: blue;
  font-weight: bold;
}


.header__nav-section h3{
  text-transform: uppercase;
}